<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create New Shark</title>
  </head>
  <body>
    <form action="/sharks" method="POST">
      <label for="name">Shark Name:</label>
      <input type="text" id="name" name="name">
      <label for="age">Shark Age:</label>
      <input type="text" id="age" name="age">
      <button type="submit">Add New Shark</button>
    </form>
  </body>
</html>